#git+https://github.com/icc-q99/hyperpipe-main.git
litellm>=1.77.7
pydantic>=2.0.0
tiktoken>=0.5.0
numpy>=2.3.3
neo4j>=6.0.2
python-dotenv>=1.1.1
rich>=14.1.0
tqdm>=4.67.1
rapidfuzz>=3.14.1
dateparser>=1.2.2
price-parser>=0.5.0

